{# {% extends "base.njk" %} #}

{% block content %}
<h1>{{ title }}</h1>

<p><strong>Symbol:</strong> {{ symbol }}</p>
<ul>
  {% for group in groups %}
  <li><a href="/groups/{{ group }}">{{ group }}</a></li>
  {% endfor %}
</ul>

<div>
  {{ content | safe }}
</div>

<a href="/">Back to home</a>
{% endblock %}
