{% extends "base.njk" %}


{% block content %}
<h2>{{ title }}</h2>

<div>
  {{ content | safe }}
</div>

<p>The following gates are contained in this group:</p>
<ul>
{% for gate in gates %}
    {% if group in gate.groups %}
        <li><a href="{{ '/gates/' + gate | url }}">{{ gate }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
