{% extends "base.njk" %}


{% block content %}
<h2>{{ title }}</h2>

<div>
  {{ content | safe }}
</div>

{% set groupSlug = page.fileSlug %}
<p>The following gates are contained in this group:</p>
<ul>
{% for gate in collections.gates %}
  {% if gate.data.groups and groupSlug in gate.data.groups %}
    <li><a href="{{ gate.url | url }}">{{ gate.data.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

{% endblock %}
