:root {
    --color-a: #adc7f3;
    --color-b: #F5D395;

    /* Derived gradients */
    --gradient1: linear-gradient(130deg, var(--color-a) 0%, var(--color-b) 100%);
    /* --gradient2: linear-gradient(130deg, var(--color-b) 0%, var(--color-a) 100%); */
    --gradient2: var(--color-b);
    
    /* pink theme */
    /* --gradient2:linear-gradient(130deg, rgb(255, 177, 140) 0%, rgb(255, 218, 201) 100%);
    --gradient1:linear-gradient(130deg, rgb(255, 218, 201) 0%, rgb(255, 177, 140) 100%); */

    /* banana theme */
    /* --gradient1: linear-gradient(130deg, #305CCF 0%, #CFA330 100%);
    --gradient2: linear-gradient(130deg, #CFA330 0%, #305CCF 100%); */

    /* basic theme */
    /* --gradient1: rgb(255, 177, 140);
    --gradient2: rgb(255, 218, 201); */
}

* {
    box-sizing: inherit;
    outline: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}


p, a, li {
    color:black;
    font-family: "TASA Orbiter", sans-serif;
}


/* generic above, specifics below */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.content-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    background: var(--gradient2);
    padding:20px;
}

.header-title {
    font-size: 20px;
    font-family: "BBH Bartle", sans-serif;
}

.not-footer {
    background: var(--gradient1);
    flex-grow: 1;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;    
}

footer {
    /* padding-bottom: 20px; */
    align-self: flex-end;
    width: 100%;
    padding:20px;

    background: var(--gradient2);
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    margin: 20px auto 0;
    width: 100%;
    max-width: 600px;
}

.periodic-table a {
    text-decoration: none;
    color: black;
}


.periodic-cell {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: var(--gradient2);
    text-align: center;
    /* font-family: sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.periodic-cell .arity-dim {
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.periodic-cell .symbol {
    font-size: 20px;
    font-weight: bold;
    margin-top: 6px;
}

.periodic-cell .name {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 4px;
}
